*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
body{
    background-color: #111;

}
header{
    border-bottom: 1px solid gray;
    background-color: #111;
    color: white;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.logo img{
    width: 100%;
}

header .container .logo{
    text-decoration: none;
    font-family: 'monotype corsiva';
    font-weight: 700;
    color:limegreen;
}
header h3{
    font-size: 2rem;
}

nav{
    display: flex;
    justify-content: center;
    color: white;
    
}
.nav-menu{
    display: flex;
    list-style: none;
    color: white;
}
.nav-menu .nav-link{
    color: cyan;
    font-weight: 300;

}
.nav-menu .nav-link:hover,
.nav-menu .nav-link:focus{
    border-bottom: 2px solid pink;
    margin-bottom: 0;
    font-weight: 700;
   
}
.hero{
    background-color: #111;   
}

.hero h2{
    color: white;
}
.hero p{
color: lightgray;
}
.hero .btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 20px 0;
    border-radius: 20px;
    outline: none;
    
}
.hero .btn:hover{
    background-color: silver;
    color: black;
}

.about-me{
    background-color: #111;
    
    

}

.about-me h2,p{
    color: white;
}
.skills{
    background-color: #111;
    color: white;
}
.card{
    background-color: #111;
    color: white;
    margin-bottom: 20px;
}
.projects{
    background-color: #111;
}
.projects .card{
    background-color: black;
    border: 1px solid white;
}

.projects img{
    width: 100%;
    height: 200px;
}
.projects .card{
    margin-bottom: 20px;
}
.message{
    background-color: #111;
    color: white;
}
.copyright h6{
    font-size: 0.6rem;
}
